body{
    background-color: beige;
    font-family: sans-serif;
}
header {
    background-color: black ;
    font-size: larger;
    text-decoration: underline;
    position: fixed;
    display: flex;
    border-bottom-style: solid;
    top: -10px;
    left: auto;
    right: auto;
    height: 30px;
}

h1{
    color: black; 
    text-align: center;
}


img {
    position: relative;

}
.me{
    text-align: center;
}

section{
    color: black;

}

.desc{
    color: black;
    text-align: center;
    
    
}
.contact{text-align: center;
}
.contactList{
text-align: center;
list-style-type: none;
display: inline;
}

.footer{
    text-align: center;
}