body{
    background-color:#9D969E;
    font-family: sans-serif;
    margin: 0
}
*,*:before,*:after {
    box-sizing: inherit
}
header {
    background-color: #BBD0F0;
    color: black;
    text-decoration: underline;
    position: fixed;
    border-bottom-style: solid;
    top: auto;
    left: auto;
    right: auto;
    height: auto;
    width: 100%;
    
}
.headerlist{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}
nav {
    margin: 3px 0 0;
    display: center;
    text-align: center;
    
    
}
h1 {
    text-align: center;
}

.hl {
    color:#EFDDBA;

}

a {
   color:#BBD0F0;
   font-size: 20px;
}

a:hover{
    color: black;
}

.me{
    text-align: center;
   
}
#about {
    color: white;

}
.aboutme {
    color: white;
    background-color: #753B7A;
}

section{
    color: black;

}
.headshot{
}

.skill{
    background-color: black;
    color: white;
}
.skills{
    display: flex;
    justify-content: space-evenly;
}

.desc{
    color: black;
    text-align: center;
    
    
}
.projectlist {
    list-style-type: none;
    display: inline;
    text-align: center;
    
}

.contact{text-align: center;
}
.contactList{
text-align: center;
list-style-type: none;
display: inline;
}
.resbutton{
    background-color:#9D969E;
}

.footer{
    text-align: center;
}




@media only screen and (max-width: 768px) {

}

@media print {
    footer {page-break-after: always;}
  }

  @media print {
    section {page-break-after: always;}
  }

  @media print {
    div {page-break-after: always;}
  }